<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Edit <%= workout.name %></title>
</head>
<body>
    <h1>Edit <%= workout.name %></h1>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <form action="/workouts/<%= workout._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="<%= workout.name %>"/>
        <label for="name" >Duration:</label>
    <input type="number" name="duration" placeholder="<%=workout.duration%>"/>
       <label for="isCompleted">Did you complete your workout?</label>
        <input type="checkbox" name="isCompleted" <% if (workout.isCompleted) { %> checked <% } %>/>
        <button type="submit">Update Workout</button>
    </form>
     <% workout.exercises.forEach((exercise) => { %>
    <form action="/workouts/<%= workout._id %>/exercises/<%= exercise._id %>?_method=PUT" method="POST">
    <label for="name" >Exercise Name:</label>
    <input type="text" name="name" placeholder="<%= exercise.name %>"/>
      <label for="name">Sets x Reps:</label>
      <input type="text" name="reps" placeholder="<%= exercise.reps %>" />
      <label for="isCompleted">Did you complete your Exercise?</label>
      <input type="checkbox" name="isCompleted" <% if (exercise.isCompleted) { %> checked <% } %>/>
    <button type="submit">Update Exercise</button>
    </form>
    <% }) %>
   
</body>
<a class="index-link" href="/workouts">
    <div class="index-text">Back to Workouts</div></a> 
</html>