<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Edit <%= workout.name %></title>
</head>
<body>
    <h1>Edit <%= workout.name %></h1>
    <form action="/workouts/<%= workout._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="<%= workout.name %>"/>
        <label for="name" >Duration:</label>
    <input type="number" name="duration" placeholder="<%=workout.duration%>"/>
       <label for="isCompleted">Did you complete your workout?</label>
        <input type="checkbox" name="isCompleted" <% if (workout.isCompleted) { %> checked <% } %>/>
        <button type="submit">Update Workout</button>
    </form>
     <% workout.exercises.forEach((exercise) => { %>
    <form action="/workouts/<%= workout._id %>/exercises/<%= exercise._id %>?_method=PUT" method="POST">
    <label for="name" >Exercise Name:</label>
    <input type="text" name="name" placeholder="<%= exercise.name %>"/>
      <label for="name">Sets x Reps:</label>
      <input type="text" name="reps" placeholder="<%= exercise.reps %>" />
      <label for="isCompleted">Did you complete your Exercise?</label>
      <input type="checkbox" name="isCompleted" <% if (exercise.isCompleted) { %> checked <% } %>/>
    <button type="submit">Update Exercise</button>
    </form>
    <% }) %>
   
</body>
<a class="index-link" href="/workouts">
    <div class="index-text">Back to Workouts</div></a> 
</html>